# TMDB에 맞춰 데이터 수정

In [4]:
import pandas as pd

final_metadata = pd.read_excel('final_metadata_with_overview_embeddings_ver4_0510.xlsx')

In [42]:
import requests

def get_movie(title, year=None):
    url = f"https://api.themoviedb.org/3/search/movie?query={title}&include_adult=false&language=en&page=1&year={year}"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2NTE2ZjcyMGI3YjI2ZjgxNjI2OGJiMWRjM2JhNWEzMyIsInN1YiI6IjY0NjMxYjU5MGYzNjU1MDEzNmE1NGZkYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.uK1Adl-8hdsZYerVhH0mZEo84et4fidcPge21enjDJ8"
    }

    response = requests.get(url, headers=headers)

    if response.status_code != 200:
        return None
    
    data = response.json()
    # print(data['results'][0])
    if len(data['results']) == 0:
        return None
    
    for result in data['results']:
        # title_in_result = result['original_title'].lower() # original_title로 체크
        title_in_result = result['title'].lower()
        title = title.lower()
        if title == title_in_result:
            return result
    return data['results'][0]

get_movie("In Our Prime")

{'adult': False,
 'backdrop_path': '/bDFI9ix7k6FAeZ0O4urYuY3XNzs.jpg',
 'genre_ids': [18],
 'id': 628802,
 'original_language': 'ko',
 'original_title': '이상한 나라의 수학자',
 'overview': 'Ji-woo, an outcast at a prestigious private school, meets Hak-sung, the school janitor who is actually a mathematical genius who defected from North Korea.',
 'popularity': 6.998,
 'poster_path': '/ypUHhgPyawYu2SeTHMmaYUZ9HaF.jpg',
 'release_date': '2022-03-18',
 'title': 'In Our Prime',
 'video': False,
 'vote_average': 8.0,
 'vote_count': 48}

In [43]:
import time

tmdb_data = pd.DataFrame(columns=['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'release_date', 'title', 'video', 'vote_average', 'vote_count'])
check = pd.DataFrame()

for i in range(len(final_metadata)):
    # print(i)
    # title = final_metadata['originalTitle'][i] # originalTitle
    title = final_metadata['primaryTitle'][i]
    year = final_metadata['startYear'][i]
    data = get_movie(title, year)
    if data:
        # final_metadata['overview'][i] = data['overview']
        # 만약 data['genre_ids']가 list면 아래와 같이 변경
        if type(data['genre_ids']) == list:
            data['genre_ids'] = ','.join(map(str, data['genre_ids']))
        tmdb_data = pd.concat([tmdb_data, pd.DataFrame(data, index=[0])], ignore_index=True)
    else:
        print(f"Failed to get overview for {title}")

    # 1000회 요청 시 3초 쉬기
    if i % 1000 == 0:
        time.sleep(3)
tmdb_data

/var/folders/vw/3wnj_h7s68l_wbf3ytj2csd80000gn/T/ipykernel_69377/1541005140.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  tmdb_data = pd.concat([tmdb_data, pd.DataFrame(data, index=[0])], ignore_index=True)

Failed to get overview for Farewell My Concubine
Failed to get overview for Feng quan dian tui

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/u3JuBKQTuyfvWy7Rm01Ugej6Qs5.jpg,18,1146410,ko,여행자의 필요,"A French woman, who initially played a child's...",7.107,/j74qm3AmNzjZ0Qxeyich6dY2SsT.jpg,2024-04-24,A Traveler's Needs,False,0.000,0
1,False,/obJgmXo6wYEYs8OuIvRgYhx7tHx.jpg,"18,35",876127,ko,도그데이즈,The story of people connected through dogs at ...,5.918,/qGVzvsB34oR7MAJmO2P4DFOegjR.jpg,2024-02-07,Dog Days,False,6.800,4
2,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,27,1072342,en,Night Swim,Forced into early retirement by a degenerative...,84.375,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,2024-01-03,Night Swim,False,5.700,399
3,False,/aINel9503ompOlGKn4sIVMg09Un.jpg,"9648,27,53",838209,ko,파묘,After tracing the origin of a disturbing super...,190.952,/pQYHouPsDw32FhDLr7E3jmw0WTk.jpg,2024-02-22,Exhuma,False,7.500,90
4,False,/3DPJtqKKMl3Lv8rMxwqNLlRc947.jpg,"80,28,18",1017163,ko,범죄도시 4,'Monster Cop' Ma Seok-do investigates an illeg...,87.573,/yk38mNoJpsswmk9o7i7eLhO4mc.jpg,2024-04-24,The Roundup: Punishment,False,8.600,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9518,False,/3Ztq49qcwnXSC9JFmTuaLNYEGKX.jpg,35,67319,en,So This Is Paris,Paul and Suzanne Giraud are happily married an...,6.907,/bVcYRrzmA95SIlPVd1RGGrd17XA.jpg,1926-07-31,So This Is Paris,False,6.500,19
9519,False,/sTyt7e2PB5nfY02reL1iZUYPbly.jpg,18,5991,de,Der letzte Mann,"An aging doorman, after being fired from his p...",14.364,/7Y6Dxr3oYt1w7ew70YNdLLDYEjk.jpg,1924-12-23,The Last Laugh,False,7.785,288
9520,False,/y8WOKk49VdiA4RZ1UeFCt8xPVTF.jpg,"18,10749",28974,en,A Woman of Paris: A Drama of Fate,When Marie St. Clair believes she has been jil...,12.706,/s24VgyvJliT7fUA909ZHJpoBx1D.jpg,1923-10-01,A Woman of Paris: A Drama of Fate,False,6.731,158
9521,False,/bKNfpShviRHQAFwruRpqjj6iqxC.jpg,18,175472,de,Vier um die Frau,Harry Yquem buys his beloved wife some jewelry...,5.730,/bvBfm9HFOrjmXoqPLa9aeDgCnSA.jpg,1921-02-03,Four Around the Woman,False,5.800,15
9522,False,/4sPMVIzE4LPA5Buz4yiRW0GcOwW.jpg,"18,10749",31509,en,Way Down East,A naive country girl is tricked into a sham ma...,27.394,/xzrSiQuiSb5hKePkU9AFuCcgRxE.jpg,1920-09-03,Way Down East,False,6.852,91

## 누락된 데이터 직접 추가

In [44]:
data = get_movie("Farewell My Concubine", 1993)
if data:
    # final_metadata['overview'][i] = data['overview']
    # 만약 data['genre_ids']가 list면 아래와 같이 변경
    if type(data['genre_ids']) == list:
        data['genre_ids'] = ','.join(map(str, data['genre_ids']))
        movie_data = pd.DataFrame(data, index=[0])
    # movie_data를 tmdb_data의 7794 행으로 삽입
    tmdb_data = pd.concat([tmdb_data.iloc[:7794], movie_data, tmdb_data.iloc[7794:]], ignore_index=True)
else:
    print(f"Failed to get overview for {title}")

data = get_movie("Iron Fisted Eagle's Claw", 1979)
if data:
    # final_metadata['overview'][i] = data['overview']
    # 만약 data['genre_ids']가 list면 아래와 같이 변경
    if type(data['genre_ids']) == list:
        data['genre_ids'] = ','.join(map(str, data['genre_ids']))
        movie_data = pd.DataFrame(data, index=[0])
    # movie_data를 tmdb_data의 8546 행으로 삽입
    tmdb_data = pd.concat([tmdb_data.iloc[:8546], movie_data, tmdb_data.iloc[8546:]], ignore_index=True)
else:
    print(f"Failed to get overview for {title}")

In [45]:
tmdb_data

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/u3JuBKQTuyfvWy7Rm01Ugej6Qs5.jpg,18,1146410,ko,여행자의 필요,"A French woman, who initially played a child's...",7.107,/j74qm3AmNzjZ0Qxeyich6dY2SsT.jpg,2024-04-24,A Traveler's Needs,False,0.000,0
1,False,/obJgmXo6wYEYs8OuIvRgYhx7tHx.jpg,"18,35",876127,ko,도그데이즈,The story of people connected through dogs at ...,5.918,/qGVzvsB34oR7MAJmO2P4DFOegjR.jpg,2024-02-07,Dog Days,False,6.800,4
2,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,27,1072342,en,Night Swim,Forced into early retirement by a degenerative...,84.375,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,2024-01-03,Night Swim,False,5.700,399
3,False,/aINel9503ompOlGKn4sIVMg09Un.jpg,"9648,27,53",838209,ko,파묘,After tracing the origin of a disturbing super...,190.952,/pQYHouPsDw32FhDLr7E3jmw0WTk.jpg,2024-02-22,Exhuma,False,7.500,90
4,False,/3DPJtqKKMl3Lv8rMxwqNLlRc947.jpg,"80,28,18",1017163,ko,범죄도시 4,'Monster Cop' Ma Seok-do investigates an illeg...,87.573,/yk38mNoJpsswmk9o7i7eLhO4mc.jpg,2024-04-24,The Roundup: Punishment,False,8.600,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9520,False,/3Ztq49qcwnXSC9JFmTuaLNYEGKX.jpg,35,67319,en,So This Is Paris,Paul and Suzanne Giraud are happily married an...,6.907,/bVcYRrzmA95SIlPVd1RGGrd17XA.jpg,1926-07-31,So This Is Paris,False,6.500,19
9521,False,/sTyt7e2PB5nfY02reL1iZUYPbly.jpg,18,5991,de,Der letzte Mann,"An aging doorman, after being fired from his p...",14.364,/7Y6Dxr3oYt1w7ew70YNdLLDYEjk.jpg,1924-12-23,The Last Laugh,False,7.785,288
9522,False,/y8WOKk49VdiA4RZ1UeFCt8xPVTF.jpg,"18,10749",28974,en,A Woman of Paris: A Drama of Fate,When Marie St. Clair believes she has been jil...,12.706,/s24VgyvJliT7fUA909ZHJpoBx1D.jpg,1923-10-01,A Woman of Paris: A Drama of Fate,False,6.731,158
9523,False,/bKNfpShviRHQAFwruRpqjj6iqxC.jpg,18,175472,de,Vier um die Frau,Harry Yquem buys his beloved wife some jewelry...,5.730,/bvBfm9HFOrjmXoqPLa9aeDgCnSA.jpg,1921-02-03,Four Around the Woman,False,5.800,15
9524,False,/4sPMVIzE4LPA5Buz4yiRW0GcOwW.jpg,"18,10749",31509,en,Way Down East,A naive country girl is tricked into a sham ma...,27.394,/xzrSiQuiSb5hKePkU9AFuCcgRxE.jpg,1920-09-03,Way Down East,False,6.852,91

## 잘못된 데이터 직접 수정

In [46]:
tmdb_data.loc[tmdb_data["title"] == "The Wait"]

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
2042,False,None,18,1075494,en,The Wait,,4.047,/5UAXRGlyhteJC93wKd8vxilymiH.jpg,2021-04-30,The Wait,False,0.0,0

In [47]:
# 아래 정보가 진짜 영화 The Wait의 정보
new_data = pd.DataFrame([['False', '/tuJMYSFTOqt3QYq0BuZx8Lmeiq3.jpg', '10749,18', 716814, 'fi', 'Odotus', 'The idyllic and secluded Finnish archipelago. The pandemic soars across the world. Elli’s world trembles as her husband’s old friend arrives at the island.', 28.534, '/e5qhyVvLkK5e0B5XTvThrSzNyJf.jpg', '2022-04-01', 'The Wait', 'False', 6.0, 21]], columns=tmdb_data.columns)
tmdb_data.loc[tmdb_data["title"] == "The Wait"] = new_data.values[0]
tmdb_data.iloc[2042,:]

adult                                                            False
backdrop_path                         /tuJMYSFTOqt3QYq0BuZx8Lmeiq3.jpg
genre_ids                                                     10749,18
id                                                              716814
original_language                                                   fi
original_title                                                  Odotus
overview             The idyllic and secluded Finnish archipelago. ...
popularity                                                      28.534
poster_path                           /e5qhyVvLkK5e0B5XTvThrSzNyJf.jpg
release_date                                                2022-04-01
title                                                         The Wait
video                                                            False
vote_average                                                       6.0
vote_count                                                          21
Name: 2042, dtype: object

In [48]:
tmdb_data.to_csv('tmdb_data_0511_9525movies.csv', index=False)

# check

In [14]:
final_metadata = pd.read_excel('final_metadata_with_overview_embeddings_ver4_0510.xlsx')
final_metadata

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,ordering,...,embedding_374,embedding_375,embedding_376,embedding_377,embedding_378,embedding_379,embedding_380,embedding_381,embedding_382,embedding_383
0,tt31015344,A Traveler's Needs,Yeohaengjaui Pilyo,2024,90,Drama,6.5,75,nm0393254,1,...,0.016458,-0.023006,-0.050298,0.037739,-0.076090,-0.010432,-0.058701,0.017649,0.035267,-0.023228
1,tt30911335,Dog Days,Dogeudeijeu,2024,120,Drama,7.8,31,nm15730187,1,...,-0.034701,-0.008065,-0.024117,-0.003312,0.038821,-0.030186,0.019926,0.074339,-0.018989,0.055851
2,tt9682428,Night Swim,Night Swim,2024,98,"Horror,Thriller",4.7,12654,nm3241399,1,...,0.003738,-0.049932,-0.121888,-0.054388,-0.020564,0.050116,0.021484,0.052849,0.035944,0.025606
3,tt27802490,Exhuma,Pamyo,2024,134,"Horror,Mystery,Thriller",7.4,495,nm6940206,1,...,0.051392,-0.002096,0.044035,0.059909,-0.044593,-0.032423,0.081002,0.020807,0.021268,0.008938
4,tt27811040,The Roundup: Punishment,Beomjoedosi4,2024,109,"Action,Crime,Thriller",8.8,101,nm2441168,10,...,0.041042,-0.039577,0.034051,0.041895,-0.132000,-0.051895,0.089292,-0.132800,-0.011520,-0.006363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9520,tt0017409,So This Is Paris,So This Is Paris,1926,60,Comedy,7.1,746,nm0523932,1,...,-0.052198,-0.056215,-0.065513,0.068392,0.040504,-0.013506,-0.068042,0.001189,-0.021429,-0.103460
9521,tt0015064,The Last Laugh,Der letzte Mann,1924,88,Drama,8.0,15105,nm0003638,1,...,0.029271,-0.052846,0.032112,0.051352,-0.038684,-0.013877,0.074433,-0.020061,-0.008468,0.026134
9522,tt0014624,A Woman of Paris: A Drama of Fate,A Woman of Paris: A Drama of Fate,1923,82,"Drama,Romance",6.9,6104,nm0000122,10,...,0.018064,-0.050176,-0.045593,0.036943,-0.046362,-0.033189,-0.061279,-0.036766,0.073398,-0.105024
9523,tt0012806,Four Around the Woman,Vier um die Frau,1921,52,Drama,5.9,581,nm0000485,1,...,-0.047176,-0.100745,0.056739,0.063528,-0.031887,-0.028223,-0.002628,-0.041470,0.026425,0.023838
9524,tt0011841,Way Down East,Way Down East,1920,145,"Drama,Romance",7.3,5863,nm0000428,1,...,0.026308,-0.031079,0.015309,0.108602,-0.053923,0.095502,0.000965,-0.005393,-0.005323,-0.025500

In [ ]:
final_data = pd.read_excel("final_metadata_with_overview_embeddings_ver4_0510.xlsx")
final_data

real_final_data = final_data.iloc[:, :-384].copy()
real_final_data

from sentence_transformers import SentenceTransformer
import torch

# 모델 로딩
model = SentenceTransformer('all-MiniLM-L6-v2')

# 영화 개요를 임베딩 벡터로 변환
embeddings = model.encode(tmdb_data['overview'].tolist())

# 임베딩 결과 확인
print(embeddings)

# 임베딩 벡터를 리스트화하지 않고 각 값이 하나의 feature가 되도록 차원 수에 맞게 column을 추가하고 데이터프레임에 추가
for i in range(384):
    real_final_data[f'embedding_{i}'] = [x[i] for x in embeddings]

In [ ]:
real_final_data.to_excel("final_metadata_with_overview_embeddings_ver5_0511.xlsx")

## 처리한 데이터와 과거에 tmdb에서 가져온 줄거리 정보가 일치하는지 확인

In [50]:
tmdb_ver2 = pd.read_csv('tmdb_data_ver2.csv')
tmdb_ver2

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/u3JuBKQTuyfvWy7Rm01Ugej6Qs5.jpg,18,1146410,ko,여행자의 필요,"A French woman, who initially played a child's...",6.263,/j74qm3AmNzjZ0Qxeyich6dY2SsT.jpg,2024-04-24,A Traveler's Needs,False,0.000,0
1,False,/obJgmXo6wYEYs8OuIvRgYhx7tHx.jpg,"18,35",876127,ko,도그데이즈,The story of people connected through dogs at ...,4.271,/qGVzvsB34oR7MAJmO2P4DFOegjR.jpg,2024-02-07,Dog Days,False,6.800,4
2,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,"27,53",1072342,en,Night Swim,Forced into early retirement by a degenerative...,81.423,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,2024-01-03,Night Swim,False,5.740,359
3,False,/aINel9503ompOlGKn4sIVMg09Un.jpg,"9648,27,53",838209,ko,파묘,After tracing the origin of a disturbing super...,252.396,/pQYHouPsDw32FhDLr7E3jmw0WTk.jpg,2024-02-22,Exhuma,False,7.800,38
4,False,/mO9oOVXM8tTlC11VFM4FBBNnL3f.jpg,"80,28,18",1017163,ko,범죄도시 4,'Monster Cop' Ma Seok-do investigates an illeg...,34.932,/r7LHM9MsPEipFCBPbsV6nHzSw3D.jpg,2024-04-24,The Roundup: Punishment,False,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9696,False,/3Ztq49qcwnXSC9JFmTuaLNYEGKX.jpg,35,67319,en,So This Is Paris,Paul and Suzanne Giraud are happily married an...,3.019,/bVcYRrzmA95SIlPVd1RGGrd17XA.jpg,1926-07-31,So This Is Paris,False,6.500,19
9697,False,/sTyt7e2PB5nfY02reL1iZUYPbly.jpg,18,5991,de,Der letzte Mann,"An aging doorman, after being fired from his p...",10.232,/7Y6Dxr3oYt1w7ew70YNdLLDYEjk.jpg,1924-12-23,The Last Laugh,False,7.800,287
9698,False,/y8WOKk49VdiA4RZ1UeFCt8xPVTF.jpg,"18,10749",28974,en,A Woman of Paris: A Drama of Fate,When Marie St. Clair believes she has been jil...,10.437,/s24VgyvJliT7fUA909ZHJpoBx1D.jpg,1923-10-01,A Woman of Paris: A Drama of Fate,False,6.700,156
9699,False,/bKNfpShviRHQAFwruRpqjj6iqxC.jpg,18,175472,de,Vier um die Frau,Harry Yquem buys his beloved wife some jewelry...,2.633,/bvBfm9HFOrjmXoqPLa9aeDgCnSA.jpg,1921-02-03,Four Around the Woman,False,5.800,15
9700,False,/4sPMVIzE4LPA5Buz4yiRW0GcOwW.jpg,"18,10749",31509,en,Way Down East,A naive country girl is tricked into a sham ma...,10.664,/xzrSiQuiSb5hKePkU9AFuCcgRxE.jpg,1920-09-03,Way Down East,False,6.839,90

### tmdb_ver2를 tmdb_data와 같은 영화 순서로 정렬하여 줄거리를 비교

In [53]:
# tmdb_ver2를 tmdb_data와 같은 영화 순서로 정렬하여 줄거리를 비교
# tmdb_ver2의 9701개의 데이터 중 tmdb_data와 일치하는 것만 남김
tmdb_ver2_after_filtering = tmdb_ver2.loc[tmdb_ver2["title"].isin(tmdb_data["title"])].reset_index(drop=True)
tmdb_ver2_after_filtering

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/u3JuBKQTuyfvWy7Rm01Ugej6Qs5.jpg,18,1146410,ko,여행자의 필요,"A French woman, who initially played a child's...",6.263,/j74qm3AmNzjZ0Qxeyich6dY2SsT.jpg,2024-04-24,A Traveler's Needs,False,0.000,0
1,False,/obJgmXo6wYEYs8OuIvRgYhx7tHx.jpg,"18,35",876127,ko,도그데이즈,The story of people connected through dogs at ...,4.271,/qGVzvsB34oR7MAJmO2P4DFOegjR.jpg,2024-02-07,Dog Days,False,6.800,4
2,False,/klb3yODwKMRle19EcvdeSatEZL7.jpg,"27,53",1072342,en,Night Swim,Forced into early retirement by a degenerative...,81.423,/gSkfBGdxdialBMM7P02V4hcI6Ij.jpg,2024-01-03,Night Swim,False,5.740,359
3,False,/aINel9503ompOlGKn4sIVMg09Un.jpg,"9648,27,53",838209,ko,파묘,After tracing the origin of a disturbing super...,252.396,/pQYHouPsDw32FhDLr7E3jmw0WTk.jpg,2024-02-22,Exhuma,False,7.800,38
4,False,/mO9oOVXM8tTlC11VFM4FBBNnL3f.jpg,"80,28,18",1017163,ko,범죄도시 4,'Monster Cop' Ma Seok-do investigates an illeg...,34.932,/r7LHM9MsPEipFCBPbsV6nHzSw3D.jpg,2024-04-24,The Roundup: Punishment,False,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9512,False,/3Ztq49qcwnXSC9JFmTuaLNYEGKX.jpg,35,67319,en,So This Is Paris,Paul and Suzanne Giraud are happily married an...,3.019,/bVcYRrzmA95SIlPVd1RGGrd17XA.jpg,1926-07-31,So This Is Paris,False,6.500,19
9513,False,/sTyt7e2PB5nfY02reL1iZUYPbly.jpg,18,5991,de,Der letzte Mann,"An aging doorman, after being fired from his p...",10.232,/7Y6Dxr3oYt1w7ew70YNdLLDYEjk.jpg,1924-12-23,The Last Laugh,False,7.800,287
9514,False,/y8WOKk49VdiA4RZ1UeFCt8xPVTF.jpg,"18,10749",28974,en,A Woman of Paris: A Drama of Fate,When Marie St. Clair believes she has been jil...,10.437,/s24VgyvJliT7fUA909ZHJpoBx1D.jpg,1923-10-01,A Woman of Paris: A Drama of Fate,False,6.700,156
9515,False,/bKNfpShviRHQAFwruRpqjj6iqxC.jpg,18,175472,de,Vier um die Frau,Harry Yquem buys his beloved wife some jewelry...,2.633,/bvBfm9HFOrjmXoqPLa9aeDgCnSA.jpg,1921-02-03,Four Around the Woman,False,5.800,15
9516,False,/4sPMVIzE4LPA5Buz4yiRW0GcOwW.jpg,"18,10749",31509,en,Way Down East,A naive country girl is tricked into a sham ma...,10.664,/xzrSiQuiSb5hKePkU9AFuCcgRxE.jpg,1920-09-03,Way Down East,False,6.839,90